datasets/content_font_image
datasets/handwrite_dataset
datasets/reference_font_image
datasets/train_font_image
datasets/train_font_ttf
datasets/valid_font_image
datasets/valid_font_ttf
datasets/__pycache__
datasets/additional_train_font_ttf
datasets/handwrite_dataset_v3
logs/
*.pyc
*.tar.gz
vq_font_results

__pycache__
datasets/handwrite_dataset_v2
taming/experiments
*.png
VQ-Font
inference_results
*.zip
